<header class="nav-holder make-sticky">
  <nav class="navbar navbar-light bg-white navbar-expand-lg py-0">
    <div class="container-fluid">
      <a class="navbar-brand name" href="/">MintSea</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <span class="">{{counter}}</span>
      </div>
    </div>
  </nav>
</header>
