<div id="projectcarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
      <img src="assets/img/template-homepage.png" class="ml-auto img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img src="assets/img/template-mac.png" class=" ml-auto img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="1000">
      <img src="assets/img/template-homepage.png" class="img-fluid" alt="...">
    </div>
  </div>
</div>
