<div id="projectcarousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#projectcarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#projectcarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#projectcarousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active text-center bg-light" data-bs-interval="4000">
      <img style="height: 30rem"
        src="https://images.pexels.com/photos/1080722/pexels-photo-1080722.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        class="ml-auto d-block w-100 img-fluid" alt="...">
      <div class="carousel-caption">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item text-center bg-light" data-bs-interval="4000">
      <img style="height: 30rem"
        src="https://images.unsplash.com/photo-1615859131861-052f0641a60e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2lkZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80"
        class="d-block w-100 ml-auto img-fluid" alt="...">
      <div class="carousel-caption">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item text-center bg-light" data-bs-interval="4000">
      <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" class="d-block w-100 img-fluid"
        alt="..." style="height: 30rem">
      <div class="carousel-caption">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the thord slide.</p>
      </div>
    </div>
  </div>
</div>
