
 #projectcarousel{
  padding-top: 3rem;
 }
.card-height{
  height: 30rem !important;
}

.caption {
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: black;
  opacity: 0.7;
}
