<div class="container">
  <form [class]="validateForm">
    <div class="row">
      <div class="mt-3 block-dashboard__title">
        <h1>Launch new collection</h1>
      </div>
      <div class="col-sm-6">
        <div class="my-4">
          <input type="text" class="form-control" placeholder="Collection name *" [(ngModel)]="formModel.collectionName"
            required name="collectionName" />
          <div class="invalid-feedback">
            Please choose a collection name.
          </div>
        </div>
        <div class="my-4">
          <input type="text" class="form-control" [(ngModel)]="formModel.collectionImageUrl" name="collectionImageUrl"
            placeholder="Collection image url (or) Contract address *" required />
          <div class="invalid-feedback">
            Please choose an image url.
          </div>
        </div>
        <textarea class="form-control" rows="3" placeholder="description" name="description"
          [(ngModel)]="formModel.description"></textarea>
        <div class="my-4">
          <input type="number" class="form-control" placeholder="Number of items in collection *" min=1
            [(ngModel)]="formModel.noOfItemsInCollection" required name="noOfItemsInCollection" />
          <div class="invalid-feedback">
            Please choose a valid number
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-auto text-md-end">
        <img class="rounded border border-dark p-1" style="height: 18rem;" [src]="placeHolderImg">
      </div>
      <h3 class="block-dashboard__title col-sm-12 mt-2">Type of Sale</h3>
      <div class="form-group col-sm-4 my-2">
        <div class="form-group form-check my-2">
          <input id="reserveCheckBox" type="checkbox" class="form-check-input" id="reserve"
            (input)="selectionChange($event.target)" value="res" Checked>
          <label class="form-check-label" for="reserve">reserve</label>
        </div>
        <div class="form-group form-check my-2">
          <input id="preSaleCheckBox" type="checkbox" class="form-check-input" id="pre-sale"
            (input)="selectionChange($event.target)" value="ps">
          <label class="form-check-label" for="pre-sale">pre-sale</label>
        </div>
        <div class="form-check my-2">
          <input type="radio" class="form-check-input" name="saletype" id="public" value="pu" checked
            (input)="selectionChange('public')">
          <label class=" form-check-label" for="public">
            public
          </label>
        </div>
        <div class="form-check my-2">
          <input class="form-check-input" type="radio" name="saletype" id="raffle" value="ra"
            (input)="selectionChange('raffle')">
          <label class="form-check-label" for="raffle">
            raffle
          </label>
        </div>
      </div>
      <div class="col-sm-8">
        <div class=" my-4">
          <input type="number" name="noOFItems" class="form-control" placeholder="* number of Items" min=1 />
          <div class="invalid-feedback">
            Please choose a valid number
          </div>
        </div>
        <div class="form-floating my-4">
          <input type="file" name="uploadTemplate" id="uploadTemplate" class="form-control" placeholder="" required />
          <label class="px-1 py-2" for="uploadTemplate">* upload contracts with csv template</label>
          <div class="invalid-feedback">
            Please upload a valid csv file.
          </div>
        </div>
        <div class="my-4">
          <select *ngIf="showForPublicPreSale" name="whiteLiestedWallets" class="form-select" required
            aria-label="white listed wallets">
            <option selected hidden value="">* white listed wallets</option>
            <option value="1">Metamask</option>
            <option value="2">one more</option>
          </select>
          <div class="invalid-feedback">
            Please select a wallet to continue.
          </div>
        </div>
        <input type="number" *ngIf="showForPublicPreSale" class="form-control my-4" name="maxItemsPerWallet"
          placeholder="* max number of items per wallet" max=1000 />
        <div class="form-floating my-4" *ngIf="showForPublicPreSale">
          <input type="datetime-local" id="start-time" class="form-control" name="start-time"
            [(ngModel)]="formModel.type.pre_sale.startDateTime" [min]="currentTime" />
          <label class="px-1 py-2" for="start-time">* start date and time</label>
        </div>
        <div class="form-floating my-4" *ngIf="showForPublicPreSale">
          <input type="datetime-local" id="end-time" class="form-control" name="end-time"
            [(ngModel)]="formModel.type.pre_sale.endDateTime" [min]="currentTime" />
          <label class="px-1 py-2" for="end-time">* end date and time</label>
        </div>
        <div class="form-floating my-4" *ngIf="showRaffelTime">
          <input type="datetime-local" id="raffle-time" class="form-control" name="raffle-time"
            [(ngModel)]="formModel.type.raffle.raffleDateTime" [min]="currentTime" />
          <label class="px-1 py-2" for="raffle-time">* raffle date and time</label>
          <div class="invalid-feedback">
            Please specify a valid date and time.
          </div>
        </div>
      </div>


      <div class=" col-sm-12 my-3">
        <div class="form-floating my-4">
          <input type="text" class="form-control" [(ngModel)]="formModel.twitterUrl" name="twitterUrl" />
          <label class="px-1 py-2" for="raffle-time">Twitter Url</label>
        </div>
        <div class="form-floating my-4">
          <input type="text" class="form-control" [(ngModel)]="formModel.discordUrl" name="discordUrl" />
          <label class="px-1 py-2" for="raffle-time">Discord url</label>
        </div>
        <textarea class="form-control my-4" rows="3" placeholder="Team details"></textarea>
      </div>
    </div>

    <div class="progress position-relative mb-4" style="height: 1.5rem;">
      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5"
        [style.width.%]="widthValue">
      </div>
      <pre class="justify-content-center d-flex position-absolute w-100"
        style="line-height: 1.5rem; font-size: .875rem;">progress {{widthValue}} %</pre>
    </div>
    <div class="contaner">
      <ul class="nav nav-pills" role="tablist">
        <li class="active">
          <button type="button" data-toggle="tab" (click)="selectTab($event.target)" role="tab" data-step="1"
            aria-expanded="true" class="btn btn-light">Step 1</button>
        </li>
        <li [class]="classType2">
          <button type="button" (click)="selectTab($event.target)" data-toggle="tab" role="tab" data-step="2"
            aria-expanded="false" class="btn btn-light">Step 2</button>
        </li>
        <li [class]="classType3">
          <button type="button" (click)="selectTab($event.target)" data-toggle="tab" role="tab" data-step="3"
            aria-expanded="false" class="btn btn-light">Step 3</button>
        </li>
        <li [class]="classType4">
          <button type="button" (click)="selectTab($event.target)" data-toggle="tab" role="tab" data-step="4"
            aria-expanded="false" class="btn btn-light">Step 4</button>
        </li>
        <li [class]="classType5">
          <button type="button" (click)="selectTab($event.target)" data-toggle="tab" role="tab" data-step="5"
            aria-expanded="false" class="btn btn-light">Step 5</button>
        </li>
      </ul>
    </div>
    <fieldset [class]="showStep1">
      <div class="my-4">
        <input type="text" class="form-control" placeholder="Title for step-1*" required name="collectionName" />
        <div class="invalid-feedback">
          Please choose a progress title.
        </div>
      </div>
      <textarea class="form-control" rows="5" placeholder="description" name="description"
        [(ngModel)]="formModel.description"></textarea>
    </fieldset>
    <fieldset [class]="showStep2">
      <div class="my-4">
        <input type="text" class="form-control" placeholder="Title for step-2*" required name="collectionName" />
        <div class="invalid-feedback">
          Please choose a progress title.
        </div>
      </div>
      <textarea class="form-control" rows="5" placeholder="description" name="description"
        [(ngModel)]="formModel.description"></textarea>
    </fieldset>
    <fieldset [class]="showStep3">
      <div class="my-4">
        <input type="text" class="form-control" placeholder="Title for step-3*" required name="collectionName" />
        <div class="invalid-feedback">
          Please choose a progress title.
        </div>
      </div>
      <textarea class="form-control" rows="5" placeholder="description" name="description"
        [(ngModel)]="formModel.description"></textarea>
    </fieldset>
    <fieldset [class]="showStep4">
      <div class="my-4">
        <input type="text" class="form-control" placeholder="Title for step-4*" required name="collectionName" />
        <div class="invalid-feedback">
          Please choose a progress title.
        </div>
      </div>
      <textarea class="form-control" rows="5" placeholder="description" name="description"
        [(ngModel)]="formModel.description"></textarea>
    </fieldset>
    <fieldset [class]="showStep5">
      <div class="my-4">
        <input type="text" class="form-control" placeholder="Title for step-5*" required name="collectionName" />
        <div class="invalid-feedback">
          Please choose a progress title.
        </div>
      </div>
      <textarea class="form-control" rows="5" placeholder="description" name="description"
        [(ngModel)]="formModel.description"></textarea>
    </fieldset>
    <div class="row  justify-content-sm-end my-3 mx-2">
      <button type="button" class="btn btn-primary col-sm-3" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
