<div class="container">
  <form [class]="validateForm">
    <div class="row">
      <div class="mt-3 block-dashboard__title">
        <h1>Launch new collection</h1>
      </div>
      <div class="col-sm-6">
        <div class="my-4">
          <input type="text" class="form-control" placeholder="Collection name *" [(ngModel)]="formModel.collectionName"
            required name="collectionName" />
          <div class="invalid-feedback">
            Please choose a collection name.
          </div>
        </div>
        <div class="my-4">
          <input type="text" class="form-control" [(ngModel)]="formModel.collectionImageUrl" name="collectionImageUrl"
            placeholder="Collection image url (or) Contract address *" required />
          <div class="invalid-feedback">
            Please choose an image url.
          </div>
        </div>
        <textarea class="form-control" rows="3" placeholder="description" name="description"
          [(ngModel)]="formModel.description"></textarea>
        <div class="my-4">
          <input type="number" class="form-control" placeholder="Number of items in collection *" min=1
            [(ngModel)]="formModel.noOfItemsInCollection" required name="noOfItemsInCollection" />
          <div class="invalid-feedback">
            Please choose a valid number
          </div>
        </div>
      </div>
      <div class="col-sm-6 m-auto text-md-end">
        <img class="rounded border border-dark p-1" style="height: 18rem;" [src]="placeHolderImg">
      </div>
      <h3 class="block-dashboard__title col-sm-12 mt-2">Type of Sale</h3>
      <div class="form-group col-sm-4 my-2">
        <div class="form-group form-check my-2">
          <input id="reserveCheckBox" type="checkbox" class="form-check-input" id="reserve"
            (input)="selectionChange($event.target)" value="res" Checked>
          <label class="form-check-label" for="reserve">reserve</label>
        </div>
        <div class="form-group form-check my-2">
          <input id="preSaleCheckBox" type="checkbox" class="form-check-input" id="pre-sale"
            (input)="selectionChange($event.target)" value="ps">
          <label class="form-check-label" for="pre-sale">pre-sale</label>
        </div>
        <div class="form-check my-2">
          <input type="radio" class="form-check-input" name="saletype" id="public" value="pu" checked
            (input)="selectionChange('public')">
          <label class=" form-check-label" for="public">
            public
          </label>
        </div>
        <div class="form-check my-2">
          <input class="form-check-input" type="radio" name="saletype" id="raffle" value="ra"
            (input)="selectionChange('raffle')">
          <label class="form-check-label" for="raffle">
            raffle
          </label>
        </div>
      </div>
      <div class="col-sm-8">
        <div class=" my-4">
          <input type="number" name="noOFItems" class="form-control" placeholder="* number of Items" min=1 />
          <div class="invalid-feedback">
            Please choose a valid number
          </div>
        </div>
        <div class="form-floating my-4">
          <input type="file" accept=".csv" name="uploadTemplate" id="uploadTemplate" class="form-control" placeholder=""
            required (change)="onContractUpload($event)" />
          <label class="px-1 py-2" for="uploadTemplate">* upload contracts with csv template</label>
          <div class="invalid-feedback">
            Please upload a valid csv file.
          </div>
        </div>
        <div *ngIf="showForPublicPreSale" class="form-floating my-4">
          <input type="file" accept=".csv" name="whiteLiestedWallets" id="whiteLiestedWallets" class="form-control"
            placeholder="" required (change)="onWalletDetailsUpload($event)" />
          <label class="px-1 py-2" for="whiteLiestedWallets">* upload white listed wallets as csv template</label>
          <div class="invalid-feedback">
            Please upload a valid csv file with wallet detials.
          </div>
        </div>
        <input type="number" *ngIf="showForPublicPreSale" class="form-control my-4" name="maxItemsPerWallet"
          placeholder="* max number of items per wallet" max=1000 />
        <div class="form-floating my-4" *ngIf="showForPublicPreSale">
          <input type="datetime-local" id="start-time" class="form-control" name="start-time"
            [(ngModel)]="formModel.type.pre_sale.startDateTime" [min]="currentTime" />
          <label class="px-1 py-2" for="start-time">* start date and time</label>
        </div>
        <div class="form-floating my-4" *ngIf="showForPublicPreSale">
          <input type="datetime-local" id="end-time" class="form-control" name="end-time"
            [(ngModel)]="formModel.type.pre_sale.endDateTime" [min]="currentTime" />
          <label class="px-1 py-2" for="end-time">* end date and time</label>
        </div>
        <div class="form-floating my-4" *ngIf="showRaffelTime">
          <input type="datetime-local" id="raffle-time" class="form-control" name="raffle-time"
            [(ngModel)]="formModel.type.raffle.raffleStartDateTime" [min]="currentTime" />
          <label class="px-1 py-2" for="raffle-time">* raffle start date and time</label>
          <div class="invalid-feedback">
            Please specify a valid date and time.
          </div>
        </div>
        <div class="form-floating my-4" *ngIf="showRaffelTime">
          <input type="datetime-local" id="raffle-time" class="form-control" name="raffle-time"
            [(ngModel)]="formModel.type.raffle.raffleEndDateTime" [min]="currentTime" />
          <label class="px-1 py-2" for="raffle-time">* raffle end date and time</label>
          <div class="invalid-feedback">
            Please specify a valid date and time.
          </div>
        </div>
      </div>


      <div class=" col-sm-12 my-3">
        <div class="form-floating my-4">
          <input type="text" class="form-control" [(ngModel)]="formModel.twitterUrl" name="twitterUrl" />
          <label class="px-1 py-2" for="raffle-time">Twitter Url</label>
        </div>
        <div class="form-floating my-4">
          <input type="text" class="form-control" [(ngModel)]="formModel.discordUrl" name="discordUrl" />
          <label class="px-1 py-2" for="raffle-time">Discord url</label>
        </div>
        <textarea class="form-control my-4" rows="3" placeholder="Team details"></textarea>
      </div>
    </div>

    <div class="progress position-relative mb-4" style="height: 1.5rem;">
      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5"
        [style.width.%]="widthValue">
      </div>
      <pre class="justify-content-center d-flex position-absolute w-100"
        style="line-height: 1.5rem; font-size: .875rem;">progress {{widthValue}} %</pre>
    </div>
    <div class="contaner">
      <ul class="nav nav-pills" role="tablist">
        <li class="active" *ngFor="let step of progressSteps;">
          <button type="button" data-toggle="tab" role="tab" data-step="1" aria-expanded="true"
            class="btn btn-light">{{step.title}}</button>
        </li>
        <li class="active">
          <button type="button" data-toggle="tab" (click)="addNewStep($event.target)" role="tab" data-step="1"
            aria-expanded="true" class="btn btn-light"> + </button>
        </li>
      </ul>
      <fieldset *ngFor="let step of progressSteps;">
        <div class="my-4">
          <input type="text" class="form-control" [placeholder]="step.placeholder" required name="collectionName" />
          <div class="invalid-feedback">
            {{step.name}}
          </div>
        </div>
        <div class="form-floating my-4">
          <input type="number" class="form-control" [(ngModel)]="step.weight" required name="stepWeight"
            (change)="stepWeightChange($event.target)" />
          <label class="px-1 py-2" for="raffle-time">Step weight*</label>
        </div>
        <textarea class="form-control" rows="5" placeholder="description" name="description"
          [(ngModel)]="formModel.description">{{step.description}}</textarea>
      </fieldset>
    </div>

    <div class="row  justify-content-sm-end my-3 mx-2">
      <button type="button" [disabled]="!isMetaMaskEnabled" class="btn btn-primary col-sm-3"
        (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>
